
<div class="col-lg-4 mx-auto mb-2">
  <div class="card shadow">
    <div class="card-header">
      <h5 class="card-title"><%= comment.commenter %></h5>
    </div>
    <div class="card-body">
      <%= comment.body %>
    </div>
  </div>
</div>

  <%# As the render method in show.html.erb iterates over the @article.comments collection, it assigns each comment 
  to a local variable named the same as the partial above,(comment) which is then available 
  in the partial for us to show. %>

  
  