<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1 class="card-title">New Article</h1>
    </div>
    <div class="card-body">
      <%= render "form", article: @article %>
    </div>
  </div>
</div>
